<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Portfolio</h1>
		<p>Easy Way to Create Your Amazing Portfolio
		Curabitur et est sed felis aliquet sollicitudin</p>
		<span>
			<p>login with social media</p>
			<a href="#"><i class="fa fa-facebook" aria-hidden="true">Login with facebook</i></a>
			<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Login with Twitter</a>
		</span>
		</div>
	</div>
	<div class="right">
		<h1>Welcome</h1>
		<br><br>
		<div >
			<br>
			<input  type="button" class="btn btn-primary"  routerLink="/sign" value="sign" >
			<br>
			<input  type="button" class="btn btn-primary" routerLink="/login" value="login" >
			<br>
			
		</div>
	</div>
</div>
  

